html {
    scroll-behavior: smooth;
  }
  
.HeaderContainer{
    background: var(--yellow);
    height:4rem;
    position: sticky;
    padding:0 10rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.HeaderSocial{
    display:flex;
    gap:1rem;
}

.HeaderNav{
    display:flex;
    gap:2rem;
}

.HeaderInsta, .HeaderFacebook{
    display:flex;
    gap:.5rem;
    align-items: center;
    cursor: pointer;
}

.navOptions{
    cursor:pointer;
}

.linkInst{
    all:unset;
}

@media (max-width:1000px){
    .HeaderSocial,.HeaderNav{
        display:none;
    }

    .HeaderContainer{
        justify-content: center;
    }
}