.ActionsContainer{
    padding: 0 10rem;
    display:flex;
    flex-direction: column;
    gap:2rem;
}


.ActionsSlider{
    display:flex;
    flex-direction: column;   
    gap:2rem;
}

.ActionsCatCaoCourse,.ActionsRaffle,.ActionsHelped,.ActionsAdopted{
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.ActionsCatCaoCourseImg,.ActionsRaffleImgs,.ActionsAdoptedImgs{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}

.ActionsCatCaoCourse h3,.ActionsRaffle h3,.ActionsHelped h3,.ActionsAdopted h3{
    font-weight: 500;
}

@media (max-width:1200px){
    .ActionsCatCaoCourseImg,.ActionsRaffleImgs,.ActionsAdoptedImgs{
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media(max-width:1000px){
    .ActionsContainer{
        padding: 5rem 2rem;
    }
}

@media(max-width:678px){
    .ActionsCatCaoCourseImg,.ActionsRaffleImgs,.ActionsAdoptedImgs{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .ActionsSlider{
        justify-content: center;
        align-items: center;
    }
}